@model List<CartItem>

<h1>Ваша корзина</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Итого</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price</td>
                <td>@(item.Quantity * item.Product.Price)</td>
            </tr>
        }
        </tbody>
    </table>

    <h3>Итого: @Model.Sum(item => item.Quantity * item.Product.Price)</h3>
    <a href="/Cart/Checkout">Перейти к оформлению заказа</a>
}
else
{
    <p>Ваша корзина пуста!</p>
}